/* -------------------------------
BODY STYLES
----------------------------------*/

* {
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  background:url(images/bk_body.jpg);
  font-family:Arial, Helvetica, sans-serif;
  font-size:13px;
  line-height:135%;
}

/*----------------------------------------------------
BASIC HTML ELEMENTS STYLES
------------------------------------------------------*/



a:hover {
  text-decoration: none;
}

a:focus {
	outline:none;
}

h1 {
	font-size:26px;
	letter-spacing:-1px;
	font-weight:normal;
	padding:10px 0 12px;
	font-style:italic;
	font-family:Georgia, "Times New Roman", Times, serif;
	line-height:100%;
}

h1 a {
	text-decoration:none;
	border-bottom:1px dotted #F30C55;
}

h1 a:hover {
	border:none;
}

h2{
	font-size:20px;
	font-weight:normal;
	font-style:italic;
	font-family:Georgia, "Times New Roman", Times, serif;
	letter-spacing:-1px;
	padding:10px 0;
} 


ul {
	list-style:none;
}

p {
	margin:0.7em 0;
}


/* -------------------------------
LAYOUT STRUCTURE
----------------------------------*/

#mainWrapper {
	background:url(images/bk_wrapper.png) 0 0 repeat-x;
	margin:0;
	padding:0;
}

#wrapper {
	width:960px;
	margin:0 auto;
}

#header {
	background:url(images/bk_header.png) 90% 0 no-repeat;
	height:171px;
	position:relative;
}

#content {
	
}

#colLeft {
	float:left;
}

#colLeftInner {
	width:632px;
	background:#fff;
	padding:25px 24px 35px;
	min-height:500px;
}

#colRight {
	float:left;
	width:280px;
	border-top:1px solid #1d1d1d;
}

#footer {
	background:url(images/bk_footer.png) 0 0 repeat-x;
	padding-top:40px;
	padding-bottom:25px;
	margin-top:15px;
}

#footerInner {
	width:960px;
	margin:0 auto;
	color:#797979;
}

#copyright {
	border-top:1px solid #1D1D1D;
	background:#000;
}

#copyrightInner {
	width:960px;
	margin:0 auto;
	font-size:11px;
	color:#515151;
	padding:20px 0;
	position:relative;
}

/* -------------------------------
HEADER ELEMENTS
----------------------------------*/

#logo {
	position:absolute;
	left:0;
	top:45px;
}

#logo img {
	border:none;
}

/* Top menu */

#topMenuCont {
	background:url(images/bk_top_left.png) 0 0 no-repeat;
	height:68px;
	padding:0 0 0 25px;
	position:absolute;
	right:0;
	top:50px;
}

#topMenuCont ul{
	padding-top:13px;
	background:url(images/bk_top_right.png) 100% 5px no-repeat;
	padding-right:25px;
}

#topMenuCont ul li{
	float:left;
	padding:11px 15px 0;
	background:url(images/bk_top_list.png) 0 0 repeat-x;
	height:56px;
}

#topMenuCont ul li a {
	color:#888;
	font-size:12px;
	text-transform:uppercase;
	text-decoration:none;
	font-weight:normal;
}

#topMenuCont ul li a:hover{
	color:#eee;
}

#socialLinks {
	position:absolute;
	right:15px;
	bottom:15px;
}

#socialLinks li{
	float:left;
	padding-left:13px;
}

#socialLinks li img {
	border:none;	
}

#socialLinks li a:hover img {
	margin-top:-2px;
}

#getSocial {
	width:114px;
	height:41px;
	background:url(images/get_social.png) 0 0 no-repeat;
	float:right;
	margin-right:-114px;
	margin-top:100px;
}

/*--------------------------------
CONTENT ELEMENTS
----------------------------------*/
.page-taxonomy h1.title, .searchQuery {
	font-size:10px;
	color:#b2b2b2;
	display:block;
	background:url(images/bullet_star_featured.png) 0 50% no-repeat;
	padding:0 0 0 16px;
	line-height:100%;
	text-transform:uppercase;
	margin-bottom:10px;
	font-style:normal;
}

.alignleft {
	float:left;
	margin:5px 10px 5px 0;
}

.alignright {
	float:right;
	margin:5px 0 5px 10px;
}

#colLeft img {
	border:none;	
}

span.author, span.author a {
	color:#333;	
}

.navigation {
	width:675px;
}

/* HOMEPAGE FEATURED POST */

#featuredPost {
	margin-bottom:20px;
}

#featuredPost .label {
	font-size:10px;
	color:#b2b2b2;
	display:block;
	padding-left:16px;
	line-height:100%;
}

#featuredPost .meta {
	font-size:11px;
	color:#999;
	background:url(images/bk_featured.jpg) 0 100% repeat-x;
	padding-bottom:12px;
}

#featuredPost a.author {
	color:#333;
} 

#featuredPost .featuredDetails {
	background:url(images/bk_featured.jpg) 0 100% repeat-x;
	padding:20px 0;
	font-size:14px;
}

#featuredPost .featuredDetails p {
	margin:0 0 15px;
}

#featuredPost .featuredDetails a img {
	border:none;
}

/* HOMEPAGE POSTS LIST */

.homePost {
	float:left;
	width:300px;
	padding:0 10px 20px 0;
	border-bottom:1px dashed #b2b2b2;
	border-right:1px dashed #b2b2b2;
	margin-top:10px;
	min-height:200px;
}

.homePost .date {
	background:url(images/bk_date.jpg) 0 0 no-repeat;
	width:54px;
	text-align:center;
	font-family:Georgia, "Times New Roman", Times, serif;
	padding-top:18px;
	line-height:120%;
	float:left;
	margin-right:10px;
	margin-bottom:40px;
}

.homePost div {
	margin:0.5em 0;
}

.homePost h2{
	padding-top:0;
	padding-bottom:5px;
	line-height:110%;
	height:45px;
}

.homePost h2 a {
	text-decoration:none;
}

.homePost .date span {
	font-size:20px;
	font-weight:bold;
}

.homePost .meta {
	font-size:11px;
	color:#999;
	padding-bottom:6px;
	padding-top:6px;
}

.homePost a.author {
	color:#333;
} 

#colLeftInner .even {
	border-right:none;
	padding-right:0;
	padding-left:20px;
}

.homePost div img {	
	background:transparent url(images/bk_thumb.png) 0 0 no-repeat ;
	float:left;
	margin:0 10px 30px 0;
	padding:2px 4px 4px;
	border:none;
}

/* GENERAL POSTS LIST AND SINGLE POST */

.blogPost {
	margin-bottom:20px;
	border-bottom:1px solid #D7D7D7;
}

.blogPost .meta {
	font-size:11px;
	color:#999;
	background:url(images/bk_featured.jpg) 0 100% repeat-x;
	padding-bottom:15px;
	margin-bottom:20px;
}

.blogPost a.author {
	color:#333;
} 

.blogPost .date {
	background:url(images/bk_date.jpg) 0 0 no-repeat;
	width:54px;
	text-align:center;
	font-family:Georgia, "Times New Roman", Times, serif;
	padding-top:18px;
	line-height:120%;
	float:left;
	margin-right:10px;
	margin-bottom:40px;
}

.blogPost .date span {
	font-size:20px;
	font-weight:bold;
}

.blogPost p, #colLeftInner .node p {
	font-size:14px;	
	line-height:1.5em;
	margin:1em 0;
}

#colLeftInner .node {
	font-size:14px;		
}

.blogPost .postTags {
	font-size:13px;	
	background:url(images/ico_tag.png) 0 50% no-repeat;
	padding-left:24px;
	margin:25px 0 20px;
}

a.more-link {
	display:block;
	width:91px;
	height:28px;
	text-indent:-9999px;
	clear:both;
	border:none;
	margin:-5px 0 15px;
}

.postauthor {
	background:#F4F4F4;
	border:1px dashed #D2D2D2;
	padding:15px 18px;
	margin-bottom:20px;
	margin-top:20px;
}

.postauthor img {
	float:left;
	margin-right:10px;
	padding:4px;
	background:#fff;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
}

/* POST SOCIAL SHARE */

.social {
	margin:20px 0 15px;
	padding: 0 0 15px;
	border-bottom:1px solid #D7D7D7;
}

.social a:hover img {
	margin-top:-4px;	
}

.social img {
	border:none;
	vertical-align:middle;
}

.social strong {
	padding-right:20px;	
}

.navigation .alignleft a{
	display:block;
	width:123px;
	height:30px;
	background:url(images/but_prev.png) 0 0 no-repeat;
	margin-top:15px;
	text-indent:-9999px;
}

.navigation .alignright a{
	display:block;
	width:107px;
	height:30px;
	background:url(images/but_next.png) 0 0 no-repeat;
	margin-top:15px;
	text-indent:-9999px;
}

#colLeftInner ul{
	list-style-type:disc;
	list-style-position:inside;
}

#colLeftInner ol {
	list-style-position:inside;
}

blockquote {
	border-left:1px dashed #aaa;
	padding-left:20px;
	margin:15px 0 15px 20px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	background:url(images/bk_blockquote.jpg) 90% 0 no-repeat;
}

/*--------------------------------
COL RIGHT
----------------------------------*/

#colRight .block {
	border:1px solid #434343;
	border-left:none;
	background:url(images/bk_rightbox.jpg) 0 0 repeat-y;
	margin:15px 0;
	padding-top:8px;
}

#colRight .block .bl-content {
	padding:0 10px 15px;
	color:#888;
}

#colRight .block h2 {
	display:block;
	margin-right:-13px;
	height:38px;
	line-height:30px;
	padding:0 0 0 15px;
	text-transform:uppercase;
	font-size:15px;
	font-style:normal;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	letter-spacing:normal;
}


#colRight .block ul li {
	padding:8px 6px 8px 18px;
	border-bottom:1px solid #434343;
	margin: 0;
	list-style: none;
}

#colRight .block ul li a {
	text-decoration:none;
	display:block;
}


/* ADS */

#ads {
	padding:15px 0 0;
}

#ads div div {
	margin:8px 0 0 10px;
	float:left;
}

#ads div div a img {
	border:1px solid #414141;	
}

/*--------------------------------
FOOTER
----------------------------------*/

#footerInner .block {
	float:left;
	width:295px;
	padding-right:25px;
}

#footerInner h2 {
	color: #fff;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:20px;
	border-bottom:1px solid #363636;
	padding:7px 0 7px 16px;
	margin-bottom:7px;
}

.block ul.menu {
	margin: 0;
	padding: 0;
}
#footerInner .block ul li {
	padding:5px 6px 5px 18px;
	border-bottom:1px solid #292929;
	list-style: none;
	margin: 0;
}

#footerInner .block ul li a {
	text-decoration:none;
	display:block;
}

#site5bottom {
	position:absolute;
	right:5px;
	top:13px;
}

#site5bottom img {
	border:none;
}

#site5bottom a {
	display:block;
	width:344px;
	height:26px;
	background:url(images/site5bottom.png) 0 0 no-repeat;
	text-indent:-9999px;
}

/* COMMENTS
------------------------------------------*/

h2#comments-title {
	display:block;
	background:url(images/ico_h2_comments.png) 0 50% no-repeat;
	padding:15px 0 15px 40px;
}

#comments h2.boxtitle {
	display:block;
	background:url(images/ico_h2_form.png) 0 50% no-repeat;
	padding:10px 0 10px 40px;
}

#colLeft  .comment-published {
	padding:12px 20px;
	position:relative;
	border:1px dashed #ccc;
	margin:20px 0 20px 15px;
}

#colLeft .comment-published .comment-meta {
	font-size:11px;
	color:#999;
	margin-left:20px;
}
#colLeft .comment-published .text  {
	margin: 0.7em 0;
	margin-left:20px;
}
#colLeft .comment-published ul.links li.first {
	padding-left: 0
}

#colLeft .comment-published .picture {
	background:#fff;
	padding:3px;
	border:1px solid #ccc;
	position:absolute;
	left:-15px;
	top:-7px;
}

#colLeft .comment-published .reply {;
	margin-left:20px;
	margin-top:-5px;
}

#colLeft .comment-published .reply a {
	font-size:11px;
	color:#3293C2;
	
}

#colLeft .comment-published .children li {
	background:#fff;
	margin-left:20px;
	margin-top:15px;
	
}

/* FORMS
-------------------------------------------*/
#searchBox {
	background:url(images/bk_shadow.png) 0 100% repeat-x;
	padding:20px 0;
	padding-left:10px;
	margin:0;
}

#searchBox label {
	display:block;
	float:left;
	width:50px;
	background:url(images/search_label.png) 0 0 no-repeat;
	margin-top:12px;
	text-indent: -500em;
}

#searchBox .form-text {
	border:none;
	background:url(images/search_input.png) 0 0 no-repeat;
	padding:13px 3px 7px 12px;
	color:#666;
	width:158px;
	float:left;
	margin-left:10px;
}

#searchBox .form-submit {
	width:21px;
	height:30px;
	border:none;
	cursor:pointer;
	padding:0;
	text-indent: -500em;
}

#user-login-form {
	text-align: left;
}
#user-login-form .form-text {
	border:none;
	background:url(images/search_input.png) 0 0 no-repeat;
	padding:13px 3px 7px 12px;
	color:#666;
	width:158px;
	float:left;
}
#user-login-form label {
	display:block;
	float:left;
	width:80px;
	margin-top:12px;
}
#user-login-form ul {
	padding: 0;
}
#user-login-form #edit-pass-wrapper,
#user-login-form #edit-submit {
	clear: left;

}

/* Post comment */

#comments p {
	margin:0;
}

#comments label {
	display:block;
	padding:5px 0;
}

#comments input.form-text, #comments textarea {
	border:1px dashed #ccc;
	padding:8px;
	width:300px;
	margin-bottom:10px;
	background:url(images/bk_input.jpg) 0 0 repeat-x;
}


#comments textarea {
	width:500px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	margin: 0;
}

#comments input#edit-submit{
	border:none;
	width:116px;
	height:30px;
	margin-top:10px;
	cursor:pointer;
	text-indent: -5000em;
}

#comments #edit-preview {
	display: none
}

fieldset {
	border:1px dashed #ccc;
}

/* Contact Form */

#contact-mail-page label {
	display:block;
	padding:5px 0;
}

#contact-mail-page input, #contact-mail-page textarea {
	border:1px dashed #ccc;
	padding:8px;
	width:300px;
	margin-bottom:10px;
	background:url(images/bk_input.jpg) 0 0 repeat-x;
}


#contact-mail-page textarea {
	width:500px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
}

#contact-mail-page input.form-checkbox {width: 15px}

#contact-mail-page input#edit-submit{
	border:none;
	width:122px;
	height:34px;
	margin-top:10px;
	cursor:pointer;
	text-indent:-9999px;
}
.errormsg, .successmsg{
	background:#FEF4F1;
	border:1px dashed #F7A68A;
	color:#DA4310;
	padding:10px;
}

.successmsg {
	background:#F5FAF1;
	border:1px dashed #C2E1AA;
	color:#8FA943;
}

/* -------------------------------
CLEARING
----------------------------------*/

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
  float: none;
}

.clearfix { 
  display: block;  
}


/* Hide from IE-mac \*/
* html .clearfix { float: left; height: 1%; }
/* End hide from IE-mac */


